{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estoque</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3608/3608996.png" />
</head>
<body>
<div>

<section id="formulario-busca">
    <form method="GET" class="formulario_busca">
        Estoque <input type=”text” class="campo_busca" placeholder="Pesquise aqui" name="search" id="search">
        <button type="submit" class="botao" >Buscar</button>
    </form>
</section>

</div>
<form method="post" class="formulario">
    {% csrf_token %}
    <label>Nome do produto: </label>
    <input type="text" class="campo_adicionar" name="nome_produto" required>
    <label>Imagem: </label>
    <input type="text" class="campo_adicionar" name="imagem" required>
    <label>Preço Unitario: </label>
    <input type="text" class="campo_adicionar"  name="preco_unitario" required>
    <label>Ativo: </label>
    <input type="checkbox"  name="ativo">
    <label>Quantidade estoque: </label>
    <input type="text" class="campo_adicionar"  name="quantidade_estoque" required>
    <input type="submit" class="enviar">
</form>
<div>
    {% for produto in lista %}
        <section class="produtos">
            <H1>{{ produto.nome }}</H1>
            <p>R${{ produto.preco_unitario }}</p>
            <p>Quantidade disponível: {{ produto.quantidade_estoque }}</p>
            <p>{{ produto.ativo }}</p>
            <img class="imagem" src={{  produto.imagemURL }}>



        </section>
    {% endfor %}
</div>

</body>
</html>