<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="GET">

    <div class="">
        <button class="" type="submit" >Buscar</button>
    </div>
    <input type=”text” class="" placeholder="Pesquise aqui" name="search" id="search">

</form>


{% for produto in lista %}
        <section>
            <H1>{{ produto.nome }}</H1>
            <p>{{ produto.id }}</p>
            <p>{{ produto.preco_unitario }}</p>
            <p>{{ produto.quantidade_estoque }}</p>
            <p>{{ produto.ativo }}</p>
            <p>{{ produto.imagemURL }}</p>
            <img height="300px" width="500px" border="10px" src={{  produto.imagemURL }}>



        </section>

{% endfor %}




</body>
</html>